<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pierre Tracker</title>
    @* <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous">  *@
    <link rel="stylesheet" href="~/css/output.css">
  </head>
  <body>
    <div class="relative container mx-auto bg-slate-200 p-6 border h-screen">
      @await Html.PartialAsync("Navbar")
      <h1 class="text-center text-5xl my-20">Vendor And Order Tracker</h1>
      <div class="flex justify-center items-center my-20">
        @RenderBody()
      </div>
      @* <!-- @await Html.PartialAsync("Footer") --> *@
    </div>
  </body>
</html>

