<nav class="p-3 flex justify-between items-center">
  <div>Logo</div>
  <div class="flex justify-between gap-2">
  <span class="border rounded-full border-slate-500 px-3 py-2 mr-3 hover:bg-slate-300">
    <a href="/">Home</a>
  </span>
  <span class="border rounded-full border-slate-500 px-3 py-2 mr-3 hover:bg-slate-300">
    <a href="/vendors">All Current Vendors</a>
    </span>
  <span class="border rounded-full border-slate-500 px-3 py-2 mr-3 hover:bg-slate-300">
    <a href="/vendors/new">Add New Vendors</a>
</span>
  </div>
</nav>
<hr class="my-8 h-px bg-black border-0">