<nav class="p-3 flex justify-between items-center">
  <div class="text-lg" >Logo</div>
  <div class="flex justify-between gap-8">
    <a class="text-lg" href="/">Home</a>
    <a class="text-lg" href="/vendors">All Current Vendors</a>
    <a class="text-lg" href="/vendors/new">Add New Vendors</a>
  </div>
</nav>
<hr class="my-8 h-px bg-black border-0">