<nav class="container flex justify-center border-t py-8 bg-slate-50 rounded-md w-full">
  <span class="text-lg border rounded-full px-3 py-1 mr-2 bg-blue-50 hover:bg-blue-100 border-slate-200 shadow-md">
    <a href='/vendors/@Model["vendor"].Id/orders/new'>Add New Order</a>
  </span>
  <span class="text-lg border rounded-full px-3 py-1 bg-blue-50 hover:bg-blue-100 border-slate-200 shadow-md">
    <a href='/vendors/@Model["vendor"].Id/'>All Current Orders</a>
  </span>
</nav>