<nav>
  <span class="border rounded-full border-slate-500 px-3 py-2 mr-3 hover:bg-slate-300">
    <a href='/vendors/@Model["vendor"].Id/orders/new'>Add Orders</a>
  </span>
  <span class="border rounded-full border-slate-500 px-3 py-2 mr-3 hover:bg-slate-300">
    <a href='/vendors/@Model["vendor"].Id/'>Vendor @Model["vendor"].Name</a>
  </span>
</nav>
<hr class="my-8 h-px bg-black border-0">
