@{
  Layout="_Layout";
}
<h1 class="text-center text-5xl my-10">Vendor And Order Tracker</h1>
<div class="flex flex-col gap-2 px-5 py-3 justify-center">
  <h2 class="text-3xl">Instructions for Pierre</h2>
  <div class="border border-slate-500 rounded-xl p-5 m-3 mt-5">
    <h3 class="text-2xl mb-3">Vendor Navigation Bar</h3>
    <p>1. Click on 'All Current Vendors' to see all your vendors.</p>
    <p>2. Click on 'Add New Vendors' to add new vendors.</p>
    <p>3. While in 'All Current Vendors', click on a vendor's name to access their orders.</p>
  </div>
  <div class="border border-slate-500 rounded-xl p-5 m-3 mt-5">
    <h3 class="text-2xl mb-3">Vendor's Order Navigation Bar</h3>
    <p>1. After clicking on a vendor, two buttons under the navigation bar appears.</p>
    <p>2. Click on 'Add New Orders' to add orders to the currently selected vendor.</p>
    <p>3. Click on an order listed under the vendor to see details on selected order.</p>
    <p>4. Click on 'See All Orders For Vendor _____' to see the vendor's orders.
  </div>
</div>
