@{
  Layout="_Layout";
}
<h1 class="text-center text-5xl py-10 w-full bg-slate-100">Vendor And Order Tracker</h1>
<h2 class="text-4xl self-center mt-10 font-semibold">Instructions for Pierre</h2>
<div class="flex gap-2 p-10 justify-center">
  <div class="border bg-slate-100 border-slate-100 rounded-xl px-5 py-8 m-3 mt-5 shadow-md">
    <h3 class="text-2xl mb-3 font-medium">Vendor Navigation Bar</h3>
    <div class="text-lg flex flex-col gap-8 mt-8">
      <p>1. Click on 'All Current Vendors' to see all your vendors.</p>
      <p>2. Click on 'Add New Vendors' to add new vendors.</p>
      <p>3. While in 'All Current Vendors', click on a vendor's name to access their orders.</p>
    </div>
  </div>
  <div class="border bg-slate-100 border-slate-100 rounded-xl px-5 py-8 m-3 mt-5 shadow-md">
    <h3 class="text-2xl mb-3 font-medium">Vendor's Order Navigation Bar</h3>
    <div class="text-lg flex flex-col gap-8 mt-8">
      <p>1. After clicking on a vendor, two buttons under the navigation bar appears.</p>
      <p>2. Click on 'Add New Orders' to add orders to the currently selected vendor.</p>
      <p>3. Click on an order listed under the vendor to see details on selected order.</p>
      <p>4. Click on 'See All Orders For Vendor _____' to see the vendor's orders.
    </div>
  </div>
</div>
